<br><br>

***

<br><br>


<center><font size="7" color="purple">Python Containers Supplement</font></center>

<br><br>

***

<br><br>



Series and DataFrames are mostly the same but they have differences.

they both have dtypes, series does not have info() which makes it hard to see the index

fi_series.dtypes   # just gives you the type of the value
fi_df.info()       # ok

<br><br>



<br><br>


<font size="5" color="blue">Retrieving Just One Value</font>

<br><br>


<br>

There are many ways to retrieve a value from a DataFrame

- df[5][2]
- df[filter]
- df.loc['row_index_key', 'column_index_key']
- df.iloc[integer,integer]
- df.at['row_index_key', 'column_index_key']
- df.query()
- df.index.get_level_values('asset_class') 



<pre>



       The main difference between at() and loc() is at() is designed to find a single value,
       whereas loc() can handle broad queries...

       df.loc[0:4, ['points', 'assists']]              # return 2 columns from the first 4 rows


</pre>

In [2]:
import pandas as pd


df = pd.DataFrame({ 'an_int' : int(), 'a_str' : ' '}, index=[])

In [129]:
df = df.append({ 'an_int' : 32, 'a_str' : 'yin'}, ignore_index=True)
df = df.append({ 'an_int' : 5, 'a_str' : 'yang'}, ignore_index=True)
df.loc[len(df)] = [16, 'yahoo']
df

   an_int  a_str
0      32    yin
1       5   yang
2      16  yahoo

In [130]:
df.loc[2:,['a_str']]         # returns a data frame

   a_str
2  yahoo

In [131]:
df.loc[2,'a_str']      # returns native value

'yahoo'

In [132]:
df.at[1,'a_str']       # returns native value

'yang'

In [133]:
# df.at[1,1]='hi'          # this creates a new column
df.at[1,'a_str']='yingyang'
df

   an_int     a_str
0      32       yin
1       5  yingyang
2      16     yahoo

In [134]:
df.iloc[2,1]

'yahoo'

<br>

Strangely if you index a dataframe directly, its column first, then row.

<br>

In [135]:
df['a_str'][1]

'yingyang'

In [136]:
# df[1]['a_str']       # fails
r=1
c='a_str'
df[c][r]

'yingyang'

In [137]:
for c in df.columns:
    for r in df.index.values:
        print(df[c][r], end= ' ')

32 5 16 yin yingyang yahoo

<br><br>


<font size="5" color="blue">Retrieving Several Values</font>

<br><br>

<br>

Here is an example of using a filter (mask) and querying a dataframe with a datetime index.


<pre>
        from datetime import datetime

        start = datetime.strptime("1990-01-01","%Y-%m-%d")
        end = datetime.strptime("2000-01-01","%Y-%m-%d")
        mask = (oil_cpi_df['date']  > start) & (oil_cpi_df['date']  <= end)
        the_nineties = oil_cpi_df.loc[mask]




If you want to plot based on the index...
        ax.plot_date(seven_years_df.index,seven_years_df['KF_mean'].values , '-' )


To isolate records based on the index
        mask = (seven_years_df.index > '2007-09-01') 
        one_month_df=seven_years_df.loc[mask]




</pre>




Here is an example of selecting from a multi index


<pre>

# select all "2022-08-31"
mval_ac_df[mval_ac_df.index.get_level_values('date') == '2022-08-31']

# select all "Real Estate"
mval_ac_df[mval_ac_df.index.get_level_values('asset_class') == 'Real Estate']

# select only "2022-08-31" and  "Real Estate"
mval_ac_df[(mval_ac_df.index.get_level_values('date') == '2022-08-31') & (mval_ac_df.index.get_level_values('asset_class') == 'Real Estate')]





</pre>



<br><br>


<font size="5" color="blue">Manipulating the Index</font>

<br><br>


<pre>

       resetting an index automatically makes it a columns to replace the index with a column just do 
 
            portfolio_df = portfolio_df.set_index(portfolio_df.Ticker)
       
       to drop an index (resetting it to 0,1,2 etc..) and NOT move it to a column 
 
            portfolio_df.reset_index(drop=True, inplace=True)
 
 
 </pre>

In [138]:
df = df.set_index(pd.Index([43,22,8]))
df

    an_int     a_str
43      32       yin
22       5  yingyang
8       16     yahoo

<br>

To set the index without the "df = ", use in_place

<br>

In [139]:
df.set_index(pd.Index([4,7,2]), inplace=True)
df

   an_int     a_str
4      32       yin
7       5  yingyang
2      16     yahoo

In [140]:
df.index.name='MyIndex'
df

         an_int     a_str
MyIndex
4            32       yin
7             5  yingyang
2            16     yahoo

<br>

To not replace the existing index, use append

<br>

In [141]:
df.set_index(pd.Index(['HoHo', 'HaHa','HeeHee']), inplace=True, append=True)
df

                an_int     a_str
MyIndex
4       HoHo        32       yin
7       HaHa         5  yingyang
2       HeeHee      16     yahoo

<br>
   set the index to a range of dates...
   
<br>

In [5]:
ydf = pd.DataFrame([1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982],columns =['Year'])
mask = (ydf['Year']  > 1967) & (ydf['Year']  < 1974)
ydf = ydf.loc[mask]
dates=pd.date_range(datetime(1968,1,1),datetime(1973,1,1), freq='YS').tolist()
ydf.index=dates
ydf

            Year
1968-01-01  1968
1969-01-01  1969
1970-01-01  1970
1971-01-01  1971
1972-01-01  1972
1973-01-01  1973

<br>

info() will tell you if the index is a Range, Int64 or Multi, etc..

<br>

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3 entries, (4, 'HoHo') to (2, 'HeeHee')
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   an_int  3 non-null      int64
 1   a_str   3 non-null      object
dtypes: int64(1), object(1)
memory usage: 334.0+ bytes

In [143]:
df.dtypes

an_int     int64
a_str     object
dtype: object

<br>

An index is a standalone object

<br>

In [144]:
pd.Index(['HoHo', 'HaHa'])

Index(['HoHo', 'HaHa'], dtype='object')

<pre>
     A MultiIndex can be created from 
            a list of arrays   - MultiIndex.from_arrays()
            an array of tuples - MultiIndex.from_tuples()
            a DataFrame        - MultiIndex.from_frame()
</pre>

In [145]:
pd.MultiIndex.from_frame(df)

MultiIndex([(32,      'yin'),
            ( 5, 'yingyang'),
            (16,    'yahoo')],
           names=['an_int', 'a_str'])

In [146]:
df.index

MultiIndex([(4,   'HoHo'),
            (7,   'HaHa'),
            (2, 'HeeHee')],
           names=['MyIndex', None])

In [147]:
df

                an_int     a_str
MyIndex
4       HoHo        32       yin
7       HaHa         5  yingyang
2       HeeHee      16     yahoo

<br>

You can add a column index

<br>

In [148]:
df.columns = pd.MultiIndex.from_tuples([
    ('my_int', 'my_str'), ('d', 'f')
], names=['level_1', 'level_2'])
df

level_1        my_int         d
level_2        my_str         f
MyIndex
4       HoHo       32       yin
7       HaHa        5  yingyang
2       HeeHee     16     yahoo

<br>

To drop one level. Note 0 is the default.

<br>

In [149]:
df.index.droplevel()        # drop the row index
df

level_1        my_int         d
level_2        my_str         f
MyIndex
4       HoHo       32       yin
7       HaHa        5  yingyang
2       HeeHee     16     yahoo

In [150]:
df.columns = df.columns.droplevel(1)   # drop the column index
df

level_1         my_int         d
MyIndex
4       HoHo        32       yin
7       HaHa         5  yingyang
2       HeeHee      16     yahoo

<br>

See [here](https://pandas.pydata.org/docs/reference/api/pandas.MultiIndex.html) for more information

<br>

<br><br>


<font size="5" color="blue">Appending Data Frames</font>

<br><br>

You can inititalize an empty dataframe and then use it in a loop of appends

<br>

In [10]:
new_df=pd.DataFrame()
mets_df = pd.DataFrame(columns = ['Player', 'BA','HR','SB'])  # create a schema ( an empty df )
mets_df = pd.DataFrame([['Alonso', .276, 46, 2]], columns = ['Player', 'BA','HR','SB']) # create with 1 record
mets_df = mets_df.append({'Player' : "Lindor", 'BA' : .246, 'HR' : 23, 'SB' : 23},ignore_index = True)

In [11]:
for i in range(3):
    new_df=mets_df.append(new_df)
new_df.reset_index()

   index  Player     BA  HR  SB
0      0  Alonso  0.276  46   2
1      1  Lindor  0.246  23  23
2      0  Alonso  0.276  46   2
3      1  Lindor  0.246  23  23
4      0  Alonso  0.276  46   2
5      1  Lindor  0.246  23  23